.sidebar{
    width: 75px;
    height: 100%;
    background: var(--color-pri-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.logo{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding-top: 12px;
}

.logo img{
    width: 45px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li{
    margin: 16px 0px;
    padding: 12px;
    cursor: pointer;
    transition: all 300ms;
}

.menu .link{
    opacity: .7 !important;
}

.menu .link:hover{
    opacity: 1;
}

.menu svg{
    color: var(--color-fg-light);
    font-size: 25px;
}

.menu .active{
    opacity: 1 !important;
}

.menu .plus{
    padding: 12px 0px 12px 17px;
}

.settings svg{
    font-size: 20px;
    color: var(--color-fg-light);
    cursor: pointer;
    transition: all 300ms;
    padding-bottom: 28px;
    opacity: .8;
}

.settings svg:hover{
    opacity: 1;
}