.contact-item{
    width: calc(100% - 16px);
    height: auto;
    padding: 8px;
    background: var(--color-sec-3);
    border-bottom: solid 1px var(--color-sec-2);
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    flex-direction: row;
    cursor: pointer;
    transition: all 300ms;
    position: relative;
}

.contact-item:hover{
    background-color: var(--color-sec-2);
}

.contact-item-active{
    background: var(--color-sec-2);
}

.contact-item .profile-img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 10px;
    margin-left: 20px;
    border: solid 1px var(--color-no-profile-img);
    background-color: var(--color-sec-2);
    overflow: hidden;
}

.contact-item .profile-img img{
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-left: -10px;
}

.contact-item .profile-img svg{
    color: var(--color-no-profile-img);
    font-size: 35px;
    margin-top: -3px;
}

.contact-item .data{
    padding-left: 20px;
    font-size: 18px;
    color: var(--color-fg-very-dark)
}

.contact-item .data span{
    display: block;
}

.contact-item .data .username{
    font-weight: 400;
}

.contact-item .online-status{
    font-size: 15px;
    padding-top: 2px;
    opacity: .9;
    font-weight: 300;
}

.contact-item .message-notification{
    position: absolute;
    top: 0;
    right: 10px;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contact-item .message-notification span{
    background-color: var(--color-pri-1);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 100%;
    font-size: 12px;
    color: var(--color-fg-light);
}

.contact-item .hidden{
    display: none !important;
}